.disabled {
  pointer-events: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.marginbelow {
  margin-bottom: var(--gap);
}
.margintop {
  margin-top: var(--gap);
}
.dashed {
  border-style: dashed;
}
.attached-above {
  margin-top: calc(-1 * var(--gap));
  border-top: none;
}
.attached-below {
  margin-bottom: 0;
  border-bottom: none;
}
.attached-right {
  border-right: none;
}
.attached-left {
  border-left: none;
}

.flexbox {
  position: relative;
  display: flex;
}
.flexbox.centeraligned {
  align-items: center;
}
.flexbox.wrap {
  flex-wrap: wrap;
}
.flexbox.gap {
  gap: var(--gap);
}
.flexbox .grow {
  flex-grow: 1;
}
.flexbox.top * {
  border-top: none;
}

.top {
  position: absolute;
  top: 0;
  border-top: none;
}
.right {
  position: absolute;
  text-align: right;
  right: 0;
  border-right: none;
}
.left {
  position: absolute;
  left: 0;
  border-left: none;
}
.bottom {
  border-bottom: none;
  position: absolute;
  bottom: 0;
}
.front {
  z-index: 10;
}

.block.transparent {
  border: none;
  background: transparent;
  padding: 0;
}

.centeroriginY {
  transform-origin: 0 50%;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
  transform: scale(0, 0);
}
.gone {
  display: none !important;
}
