/* @media (max-width: 800px) {
  body {
    max-width: 500px;
  }
  .scene {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .scene > div, .scene .column {
    width: inherit !important;
  }
  .scene > .flexbox.wrap {
    gap: 0 !important;
  }
} */
