/* sonhdon */
/* https://sonhdon.gumroad.com/ */
@font-face {
    font-family: 'Whimsy';
    src: url('res/font/Whimsy-Regular.ttf');
}

:root {
    --black: #181b1c;
    --red: #eb3d2a;
}

body, html {
    margin: 0;
    overflow: hidden;
}

html, body, body * {
    cursor: none;
    user-select: none;
    -webkit-user-select: none;
}

canvas {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}

*::selection {
    background: var(--red);
    color: white;
}
.focused *::selection {
    background: var(--black);
}

body.dragging button {
    pointer-events: none;
}
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    font-style: italic;
}
button:active {
    font-style: normal;
}

textarea {
    width: 100%;
    resize: none;
    display: block;

    color: inherit;
    background: transparent;
}
.textarea-test {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    visibility: hidden;
}
textarea, .textarea-test {
    outline: none;
    border: none;
    max-height: 60vh;
    font-family: serif;
    font-size: 1rem;
    padding: 1rem;
    white-space: pre-wrap;
    box-sizing: border-box;
    word-break: break-all;
}
.window:has(textarea.rejected) .inventory-button {
    background: white;
    color: var(--black);
    border-color: white;
}
.window.focused:has(textarea.rejected) .inventory-button {
    color: var(--red);
}
textarea.rejected {
    animation: stall 100ms linear;
}
@keyframes stall {
    0% { }
    100% { }
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
}

#mouse {
    position: absolute;
    background: url("res/svg/cursor/normal.svg");
    width: 10px;
    height: 10px;
    pointer-events: none;
    filter: 
        drop-shadow(-1px -1px 3px rgb(255 255 255 / 0.2))
        drop-shadow( 1px -1px 3px rgb(255 255 255 / 0.2))
        drop-shadow(-1px  1px 3px rgb(255 255 255 / 0.2))
        drop-shadow( 1px  1px 3px rgb(255 255 255 / 0.2));
    z-index: 10;
}
#mouse.text {
    background: url("res/svg/cursor/text.svg") !important;
    translate: 0 0 !important;
}
#mouse.down {
    background: url("res/svg/cursor/down.svg");
    translate: calc(-50% + 1px) calc(-50% + 1px);
}
#mouse-selection {
    position: absolute;
    border: 1px dotted var(--red);
    mix-blend-mode: screen;
    z-index: 9;
}

/* window */

.window {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black);
    max-width: 50vw;
    background: white;
    color: var(--black);
    z-index: 1;

    border-radius: 2px;
}

.window .body {
    position: relative;
}
.window .body, .window .body * {
    user-select: text;
    -webkit-user-select: text;
}
.body:has(.file-drop-prompt.visible) {
    min-height: 10rem;
}
.body .file-drop-prompt {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
        
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: white;
    font-family: monospace;
    opacity: .9;
    pointer-events: none;

    display: flex;
    visibility: hidden;
}
.body .file-drop-prompt.visible {
    visibility: visible;
}

.window.ghost {
    border-color: var(--red);
    background: transparent;
}
.window.ghost * {
    visibility: hidden;
}

.window > .header .title {
    font-family: 'Whimsy';
    font-size: 2rem;
}

.toolbar {
    display: flex;
    flex-direction: row;
    background: var(--black);
    color: white;
    border-bottom: 1px solid white;
    font-family: monospace;
}
.toolbar > * {
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}
.toolbar > button {
    padding-right: 1rem;
    padding-left: 1rem;
    border-left: 1px solid white;
}
.toolbar > button:hover {
    background: white;
    color: var(--black);
    border-color: white;
}
.toolbar > div {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.window.focused {
    border-color: var(--red);
    color: var(--red);
}
.window.focused .toolbar {
    background: var(--red);
}
.window.focused .toolbar > * {
    border-top: 1px solid var(--red);
    border-bottom: 1px solid var(--red);
}
.window.focused .toolbar > button:hover {
    color: var(--red);
    border-color: white;
}

/* file */

.icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.file {
    position: absolute;
    width: 50px;
    color: var(--black);
    padding: .5rem;
    translate: -50% -50%;
    z-index: 0;
    font-family: monospace;
    border-radius: 2px;
}
.file > .icon {
    font-family: 'Whimsy';
    font-size: 2.5rem;
    text-align: center;

    width: inherit;
    aspect-ratio: 1;
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
}
.file > .name {
    width: 100px;
    position: absolute;
    left: 50%;
    top: calc(1rem + 50px);
    translate: -50% 0;
    text-align: center;
}

.file.focused {
    color: var(--red);
}
.file.focused > .icon {
    border-color: var(--red);
}

.file.dropzone .icon,
.file.selected .icon {
    border: 1px dotted var(--black);
}
.file.focused.selected .icon {
    border-color: var(--red);
}

.file.ghost {
    color: var(--red);
    border: none;
    pointer-events: none;
}
.file.ghost > .icon {
    border-color: var(--red);
}

th, td {
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}
.window.focused th, .window.focused td, .window.focused tr {
    border-color: var(--red);
}

table.inventory {
    font-family: monospace;
    width: 100%;
    border-collapse: collapse;
}
table.inventory th {
    font-weight: normal;
    font-family: serif;
}
table.inventory td {
    border-left: 1px solid var(--black);
}
table.inventory tr > *:first-child {
    border: none;
    text-align: right;
    width: 0;
}
table.inventory tr {
    border-bottom: 1px solid var(--black);
}
table.inventory tr:last-child {
    border: none;
}

svg {
    stroke: var(--black);
    fill: var(--black);
}
.ghost {
    opacity: .8;
    z-index: 3;
}
.focused svg,
.ghost svg {
    stroke: var(--red);
    fill: var(--red);
}

.dropdown {
    border: 1px solid var(--black);
    position: absolute;
    translate: 3px 0;
    padding: .5rem;
    background: white;
}
.dropdown button {
    
}
.dropdown button:hover,
.dropdown button:active {
    font-style: normal;
    background: var(--red);
    color: white;
}

.gone {
    display: none;
}